#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
ul {
  list-style-type: none;
}

.info-card {
  display: block;
  width: 90%;
  align-self: center;
  text-align: left;
  font-size: small;
  border: 2px solid;
  padding-left: 10px;
  margin: 15px;
}

.info-card-title {
  font-weight: bold;
}

h1 {
  font-size: large;
}

.article-container {
  display: flexbox;
  max-width: 90%;
  align-self: center;
  border: 1px solid;
  margin-top: 20px;

  img {
    max-width: 90%;
  }
  h2 {
    text-align: left;
    font-size: larger;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
  }
  p {
    text-align: left;
    padding: 0.5rem;
  }

  .article-content-container {
    padding: 20px;
  }
}

.comments-container {
  display: flexbox;
  align-self: center;
  max-width: 90%;
  
}
