 :root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: whitesmoke;

  /* CSS HEX */
--thistle: #d5c3ceff;
--cambridge-blue: #7fb685ff;
--hookers-green: #426a5aff;
--eggplant: #6c4b5eff;
--rich-black: #0d1321ff;
}

.nav-bar {
  border-radius: 25px;
  background-color: var(--hookers-green);
  ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    list-style-type: none;
  }

  li {
    display: inline-flex;
  }

  li a {
  color: #BFEDC1;
  padding: 4px;
  }
  
  .icon {
  width: 24px;
  height: 24px;
  color: #BFEDC1;
  transition: color 0.5s ease;
  display: inline-block;
}

.link:hover .icon {
  color: rgb(255, 255, 255);
}

}

ul {
  list-style-type: none;
}

.info-card {
  display: flex;
  margin: 2%;
  padding: 2%;
  flex-flow: column wrap;
  align-items: flex-start;

}

.info-card-title {
  font-weight: bold;
  align-self: -1;
}

h1 {
  font-size: large;
}

.article-container {
  display: flexbox;
  max-width: 90%;
  align-self: center;
  border: 1px solid;
  margin-top: 20px;

  img {
    max-width: 90%;
  }
  h2 {
    text-align: left;
    font-size: larger;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
  }
  p {
    text-align: left;
    padding: 0.5rem;
  }

  .article-content-container {
    padding: 20px;
  }
}

.comments-container {
  display: flexbox;
  align-self: center;
  max-width: 90%;

}

.vote-button-group {
  p {
    text-align: center;
  }
}

.topic-filter-group {
  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  li {
    display: inline-flex;
    padding-left: 5px;
    padding-right: 5px;;
  }

}

.sort-button-group {
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}


#home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: row;
}

.home-title {
  font-size: 3.2em;
  line-height: 1.5;
  margin: 15px;
}

.home-page-links {
  order: 1;
  align-items: center;
  li {
    display: inline-flex;
    padding-left: 5px;
    padding-right: 5px;;
  }

}